body {
  cursor: url("../images/cursor.png"), auto;
  background-image:url("images/stars.gif");
  color:Cornsilk;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
}

a {
  cursor: url("../images/pointer.png"), auto;
}

hr{
  display:block;
  border:0;
  height:20px;
  background:url('images/logos/flowers.png');
  clear:left;
}

.text {
  border: dashed 2px pink;
  border-radius: 20px;
  background-color: rgb(36, 36, 36);
  max-width:800px;
  padding-top: 10px;
  padding-left:5px;
  padding-right:5px;
  margin:0 auto;
}

a:link {
  color:Aqua;
  text-decoration: none;
}

@counter-style repeating-emoji {
  system: cyclic;
  symbols: "♥︎";
  suffix: " ";
}

.repeating-counter-rule {
  list-style-type: repeating-emoji;
}

li {
  list-style-position: inside;
}

a:visited {
  color:aqua;
}

a:hover {
  color: pink;
}

footer {
  text-align: center;
  padding:3px;
}

.blognav {
  height:95%;
  width:200px;
  position: fixed;
  border:1px dashed Pink;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog {
    margin-left: 210px;
    padding: 0px 10px;
}

#foot li {
  display:inline;
}

@media (max-width: 768px) {
  .blognav{
    display: none;
  }
  .blog{
    margin-left:0;
  }
  .infobox {
    display: flex;
    flex-direction: column;
  }
  .about {
    width: 100% !important;
  }
  .links {
    border-left: 0px !important;
    border-top: 2px solid pink;
  }
  .moods {
    width: 100% !important;
  }
  .site-button {
    border-left: 0px !important;
    border-top: 2px solid pink;
  }
}

.logo{
  max-width: 100%;
  height: auto;
}

table, th, td {
  border: 1px solid Black;
  border-collapse: collapse;
  word-break: normal;
  text-align: center;
}

table {
  display:block;
  width:100%;
  overflow-x: auto;
  word-break: normal;
}

details {
  border:1px solid Black;
  border-radius: 8px;
  padding: 0.5em 0.5em 0;
  cursor: pointer;
  background: darkgrey;
  color:Black;
  display: flex;
  flex: 1;
  max-width: fit-content;
}

.container-plex{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}
details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid Black;
  margin-bottom: 0.5em;
}

#spoiler {
  background-color:black;
  color:black
}

#spoiler:hover {
  color:white;
}

.image-set{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:5px;
  flex-wrap: wrap;
}

.comic-image{
  width: 170px;
  height: 261px;
  border-radius: 8px;
  border: 1px solid pink;
}

.news-form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 356px;
}

.newsletter{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

input{
  border: 1px;
  border-radius: 6px;
  height: 30px;
  margin-bottom: 3px;
}

button {
  width: 100%;
  height: 30px;
  border: 1px;
  border-radius: 6px;
  background-color: pink;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;  
}

.buttons img {
  border: outset pink;
  margin-bottom: 3px;
}

.infobox {
  display: flex;
}

.about {
  width: 50%;
}

.links {
  padding-left: 10px;
  border-left: 2px solid pink;
}

.repeating-counter-rule img {
  vertical-align: middle;
  margin-bottom: 4px;
}

.moods iframe {
  height: px;
}

.moods {
  width: 50%;
}

.site-button {
  padding-left: 10px;
  border-left: 2px solid pink;
}

.map-top {
  display: flex;
  justify-content: center;
}

.map-middle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.map-middle img {
  vertical-align: middle;
  border: 2px solid pink;
  border-radius: 12px;
}

.map-bot {
  display: flex;
  justify-content: center;
}

article h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

#in-text{
  float: left;
  margin: 0 10px 10px 0;
}